<header>
<h1>EAT-DA-BURGER</h1>
</header>

<img src="/assets/img/burger.jpg" , alt="Picture of Cheeseburger" />
<section class="container">
    <div class="burger">
        <h2>Burgers Ready to Eat</h2>
        <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
            {{burger_name}} 
            <button class="devour" id="{{id}}">DEVOUR IT!!</button>
        </li>
        {{/unless}}
        {{/each}}
        </ul>
    </div>
    <div class="eaten">
        <h2>Burgers Eaten</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
            {{burger_name}}
            <button class="delete" id="{{id}}">Clear Your Plate!</button>
            </li>
            {{/if}}
            {{else}}
            <li>No burgers eaten</li>
            {{/each}}
        </ul>
    </div>
</section>

<div class="addBurger">
    <h2>Add Another Burger</h2>
    <hr>

    <form id="add_burger">
        <textarea id="newBurger" type="text" name="burger" placeholder="New Burger to create?"></textarea>
        <hr>
        <button type="submit">Create Burger</button>
    </form>
<hr>
</div>